html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	/* margin-bottom: 60px; */
	/* background-image: url('../images/warehouse2.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: 50% 50%;
	/* background-color: rgb(187, 115, 66);
    background-blend-mode:color-burn; */
	/* backdrop-filter: blur(8px); */
}

.login-form {
	border-color: darkgrey;
}

.limited {
	max-width: 50%;
}
